@font-face {
  font-family: "Navigo";
  src: url("../fonts/Navigo-Regular.woff2") format("woff2"),
  url("../fonts/Navigo-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Navigo";
  src: url("../fonts/Navigo-Bold.woff2") format("woff2"),
  url("../fonts/Navigo-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Navigo";
  src: url("../fonts/Navigo-Black.woff2") format("woff2"),
  url("../fonts/Navigo-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ALSHauss";
  src: url("../fonts/ALS-Hauss-Regular.woff2") format("woff2"),
  url("../fonts/ALS-Hauss-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ALSHauss";
  src: url("../fonts/ALS-Hauss-Medium.woff2") format("woff2"),
  url("../fonts/ALS-Hauss-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
