$desktop-width: 1400px;
$mobile-width: 320px;
$padding-desktop: 130px;
$padding-mobile: 16px;

$color-primary: #fee600;
$color-primary-hover: #fed500;
$color-secondary: #3b7cff;
$color-white: #ffffff;
$color-off-black: #2b2d33;
$color-disabled: #939aa3;
$color-text-gray: #55575c;
$color-text-gray-light: #808185;
$color-text-gray-lighter: #a2a4a6;
$color-background-primary: $color-white;
$color-background-blue: #29476b;
$color-background-secondary: #424548;
$color-background-gray: #f4f4f4;
$color-background-white-06: #e1e1e3;
$color-link: #00aaff;
$color-link-hover: #00c2ff;
$color-link-active: #4c9ed9;

$font-family: "ALS Hauss", "Arial", sans-serif;
$font-size: 14px;
$line-height: 24px;
$color-text: $color-off-black;
$font-weight: 400;
